body{
    background-color: rgb(39, 43, 48);
    font-family: "Nerko One", serif;

}
.nav-header{
    background: linear-gradient( to left, rgba(39, 43, 48,0.5), rgba(39, 43, 48,0.5)),url(./img/wraper.png);
    background-position: center;
    background-size: cover;
    height: 35vh;
}
nav {
    background-color: #3A497B;
    bottom: -20px;
    

}
.navbar-brand{
    font-weight: 500;
    font-size:30px ;
}
.nav-link {
    color: white !important;
    
    transition: 0.3s;
}

.nav-link.active{
    color:rgb(17, 121, 240) !important;
}
.nav-link:hover{
    color:rgb(17, 121, 240) !important;

}