body {
    background-color: rgb(39, 43, 48);
    font-family: "Nerko One", serif;


}

.nav-header {
    background: linear-gradient(to left, rgba(39, 43, 48, 0.25), rgba(39, 43, 48, 0.25)), url(./img/wraper.png);
    background-position: center;
    background-size: cover;
    height: 35vh;
}

nav {
    background-color: #3A497B;
    top: -30px;
    position: absolute;
    box-shadow: 1px 1px 10px black;

}

header {
    top: 30px;
    z-index: 999;
}

.navbar-brand {
    font-weight: 500;
    font-size: 30px;
}

.nav-link {
    color: white !important;

    transition: 0.3s;
}

.nav-link.active {
    color: rgb(17, 121, 240) !important;
}

.nav-link:hover {
    color: rgb(17, 121, 240) !important;

}

.navbar-toggler {
    border: 1px solid black !important;
    background-image: url(./img/download.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card {
    background-color: rgb(39, 43, 48);
    border-color: rgba(0, 0, 0, 0.349);

    button {
        background-color: #4A6792;
        transition: 0.5s;

    }

    img {
        height: 11rem;
        opacity: 0.6;
        transition: 0.5s;
        filter: brightness(1) hue-rotate(-20deg) saturate(0.5);


    }

    transition: 0.5s;

}

.card-body {
    border-color: rgb(0, 0, 0);

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.card:hover {
    transform: scale(1.03);

    button {
        background-color: #0D6EFD;

    }

    img {
        filter: brightness(1) hue-rotate(1deg) saturate(1);

        opacity: 1;
    }
}

#game {
    z-index: 9999;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}